# reCAPTCHA v3 Site Key (client-side)
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6Lf5DoMsAAAAAERZOP5yViPzZeU1hjl4ka8mWaWL

# reCAPTCHA v3 Secret Key (server-side - keep this secure!)
RECAPTCHA_SECRET_KEY=6Lf5DoMsAAAAANBMom7YwW3tgYO2nPzaf-9Vy3Fx

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://yzektjvybkfsypweoanv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl6ZWt0anZ5Ymtmc3lwd2VvYW52Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4OTU4MDgsImV4cCI6MjA4ODQ3MTgwOH0.w_bq78G8C8BQjk6W0Gaz_awrFiD1G7DtL8xvXGYGhhw
